.check-options div{
    border-radius:5px;
    padding:8px;
    width:50%;
    left:10%;
    color:white;
    opacity:0.75;
    cursor:pointer;
}
.check-false span{
    display:none;
}
.check-true span{
    display:initial;
    float:right;
}
.check-options div:hover{
    opacity:1;
}
.check-true{
    background-color:#64e764;
    border:green 1px solid;
}
.check-false{
    background-color:#ff4d4d;
    border:red 1px solid;
}
